@model IEnumerable<EmployeeModel>
@{
    ViewData["Title"] = "Employee Page";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-12">
            <h1 class="text-center">Employee List</h1>
            <div class="table-responsive">
                <table class="table table-bordered table-striped mt-5">

                    <br />
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="text-center alert alert-success">@TempData["SuccessMessage"]</div>
                    }

                    <thead class="bg-primary">
                        <tr>
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                            <th class="text-center">Age</th>
                            <th class="text-center">Job Title</th>
                            <th class="text-center">Date of Birth</th>
                            <th class="text-center">Hire Date</th>
                            <th class="text-center">Gender</th>
                            <th class="text-center">Contract Type</th>
                            <th class="text-center">Department</th>
                            <th class="text-center">Address</th>
                            <th class="text-center">Net Salary</th>
                            <th class="text-center bg-secondary" style="width: 140px;">Manage Employee</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var employee in Model)
                        {
                            <tr>
                                <td class="text-center pt-4">@employee.FirstName</td>
                                <td class="text-center pt-4">@employee.LastName</td>
                                <td class="text-center pt-4">@employee.Age</td>
                                <td class="text-center pt-4">@employee.JobTitle</td>
                                <td class="text-center pt-4">@employee.DateOfBirth.ToString("yyyy-MM-dd")</td>
                                <td class="text-center pt-4">@employee.HireDate.ToString("yyyy-MM-dd")</td>
                                <td class="text-center pt-4">@employee.Gender</td>
                                <td class="text-center pt-4">@employee.ContractType</td>
                                <td class="text-center pt-4">@employee.Department</td>
                                <td class="text-center pt-4">@employee.Address</td>
                                <td class="text-center pt-4">@employee.NetSalary.ToString("F") $</td>
                                <td>
                                    <div class="btn-group">
                                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id"
                                           class="btn btn-info mx-1" style="width: 60px;"><i class="bi bi-pencil-square"></i>Edit</a>
                                        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id"
                                           class="btn btn-danger mx-1" style="width: 65px;"><i class="bi bi-trash3-fill"></i>Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-12 text-center">
            <a asp-controller="Employee" asp-action="Create"
               class="btn btn-success"><i class="bi bi-plus-circle"></i> &nbsp;Add Employee</a>
        </div>
    </div>
</div>

<style>
    .table {
        font-size: 14px;
    }

    th {
        background-color: #343a40;
        color: #fff;
    }

    td {
        background-color: #f5f5f5;
    }

    .table-responsive {
        max-height: 700px;
        overflow-y: auto;
    }
</style>